<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset = 'utf-8'>
        <meta name = 'viewport' content = 'width=device-width, initial-scale=1'>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class='heading navbar navbar-expand-lg navbar-light bg-light'>
            <div class = 'h container-fluid'>
                <div class = 'navbar-header'>
                    <a class = 'navbar-brand'>
                        <span class = 'nav-link' id = 'time-now' style='padding-left: 0;'></span>    
                    </a>
                </div>
                <ul class = 'navbar-nav'>
                    <li class = 'nav-item'><a id = 'public' href = " {{url_for('tasks.board')}}" class='nav-link'>Public Board</a></li>
                    <li class = 'nav-item'><a id = 'personal' href = " {{url_for('login.index')}}" class='nav-link'>Your Board</a></li>
                    <li class = 'nav-item'><a id = 'create' href = " {{url_for('tasks.create')}}" class='nav-link'>Create</a></li>               
                </ul>
            </nav>
            </div>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class='container'>
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning alert-dismissible fade show" role = 'alert'>
                        {{ message }}
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                            &times;
                        </button>
                        </div>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    {% block main %}
    {% endblock main %}
    </body>
    <script>
        let p = window.location.pathname;
        $(document).ready(function(){
            if (p.indexOf("board") > 0 &&  p.indexOf("your_board") == -1){
                $("#public").css("font-weight", "bold");
                $("#public").css("color", "rgb(126, 123, 123)");
            }

            if (p.indexOf("your_board") > 0 || p.indexOf("login") > 0){
                $("#personal").css("font-weight", "bold");
                $("#personal").css("color", "rgb(126, 123, 123)");
            }

            if (p.indexOf("create") > 0){
                $("#create").css("font-weight", "bold");
                $("#create").css("color", "rgb(126, 123, 123)");
            }
        })
        $('#time-now').html(new Date().toLocaleTimeString('en-US',{
            hour12:true,
            hour:"numeric",
            minute:"numeric",
        }));
    </script>       
    <style>
        .heading{
            padding-bottom: 1rem;
        }

        .h{
            margin-top: 0.5rem;
        }

        .nav-item, .nav-link{
            color: rgb(126, 123, 123);
        }

        .nav-item:hover, .nav-link:hover{
            cursor: pointer;
            color: rgb(126, 123, 123);
            font-weight: bold;
        }
    </style>
</html>
